@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding:0;
}
/*
body{
    background-color: rgba(0, 0, 0, 0.999);
    background-position: center center;
    background-position: top;
}*/

nav{
    overflow: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.788);
    width: 100%;
}


nav a{
    color: white;
    display: inline-block;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding: 10px 15px;
}

nav a:hover{
    color: rgb(78, 78, 78);
    background-color: rgba(241, 241, 241, 0.87);
    transition: 1s;
    border-radius: 15px;
}

.sector1{
    background-image: url(../imagens/background2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    background-position: center;
    bottom: 0;
    height: 900px;
}

.principal{
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    text-align: center;
    margin: auto;
    font-size: 6em;
    text-shadow: 20px 20px 30px black;
    padding-top: 300px;
    padding-bottom: 100px;
}

.legenda{
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 1.7em;
    text-shadow: 2px 4px 5px black;
}

.botoes{
    height: 40px;
    width: 50%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px; 
    text-align: center;   
    margin-bottom: 80px;
}

button{
    height: 40px;
    width: 150px;
    background-color: rgba(48, 48, 48, 0.796);
    border-radius: 15px;
    border: 0;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}

button a {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 1.3em;
    text-decoration: none;
}

button:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(241, 241, 241, 0.87);
    transition: 1s;
}

button:hover a{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h1{
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-indent: 30px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-indent: 20px;
    margin: 0px 0px;
    font-weight: lighter;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 10px;
}

img{
    max-width: 100%;
    display: block;
}

.bgst2{
    background-color: black;
}

.sector2{
    background-color: black;
    background-position: center;
    bottom: 0;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
}

.sector2 p{
    text-indent: 0px;
    padding: 0px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
}

.flex > div{
    flex: 1 1 300px;
    padding: 10px;
}

.bgst3{
    background-color: #292c35;
}

.sector3{
    background-color: #292c35;
    background-position: center;
    bottom: 0;
    height: auto;
    margin: 0 auto;
    max-width: 1000px;
}

.bgst4{
    background-color: rgb(163, 163, 163);
}

.sector4{
    background-color: rgb(163, 163, 163);
    background-position: center;
    bottom: 0;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
}

footer{
    background-color: black;
}
footer p{
    text-align: center;
}